* {
    box-sizing: border-box;
    
}

body {   
    margin: 0 auto;
    font-family : Inter;
    width: 550px;
    height: 704px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
        
}

nav {
    height: 55px;
    display: flex;
    background: #F55A5A;
    max-width: 100%;
    justify-content: center;
}

nav>img{
    width: 24px;
    height: 24px;
    margin-top: 16px;
}

nav>h3{
    width: 109px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    margin-left: 5px;
    margin-top: 18px;
    color: #FFFFFF;
}

.card--image{
    position: static;
    margin-top: 45px;
    margin-left: 40px;
    width: 125px;
    height: 168px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
}

.card--header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
    left: 175px;
    top: -150px;

}

.card--body{
    display: flex;
    flex-direction: column;
    margin-top: -180px;
    margin-left: 184px;
    height: fit-content;
   
} 

.location--icon{
    margin-top: 11px;
    margin-left: 10px;
    width: 7px;
    height: 9.55px;
}

.card--country{
    padding-left: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.card--google{
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    margin-top: 11px;
    padding-left: 15px;
    text-decoration-line: underline;
    color: #918E9B;

}

.card--title{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;

}

.card--description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15px;
    margin-top: -9px;
    color: #2B283A;

}

.card--dates{
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    margin-top: -8px;
    color: #2B283A;
}